.p0 {
	padding-top: 0!important;
	padding-bottom: 0!important;
	padding-left: 0!important;
	padding-right: 0!important;
}

.clear {
	width: 100%;
	clear: both;
}

img.responsive {
	width: 100%;
}

.green, a.green {
	color: #02c88b!important;
}

.btn__grey {
	display: block;
	width: 200px;
	margin: 0 auto;
	background: #EEEEEE;
	color: #333;
	font-weight: 700;
}

.text-sm {
	font-size: 12px;
}

.media-middle {
	vertical-align: middle;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.container-title-new {
	margin-top: 15px;
	margin-bottom: 25px;
}

.desctop-header__input-box, .mobile-header__input-box, .top_new__item-half div {
	position: relative;
}

input.desctop-header__search {
	width: 469px;
}

.header__login-link {
	color: #222;
	font-size: 14px;
	padding: 0 20px;
}

.desctop-header__search-button, .mobile-header__search-button {
	position: absolute;
	top: 7px;
	right: 15px;
	color: #8B8B8B;
}

.mobile-header__input-box {
	margin: 20px;
}

.mobile-header__search-button {
	color: #ADADAD;
}

.hr {
	margin: 0px 25px;
	height: 1px;
	box-shadow: none;
	border: none;
	background: #EEEEEE;
}

.mobile-header__search {
	background: rgba(196, 196, 196, 0.2);
	border: rgba(196, 196, 196, 0.2)!important;
	width: 260px!important;
	font-size: 12px;
	display: block;
	margin: 0 auto;
}

.container-title-new h2, .container-title h2 {
	text-transform: uppercase;
}

.uppercase {
	text-transform: uppercase;
}

.container-title.pull-md-right {
	margin-top: 35px;
}

.navbar {
	flex-direction: column;
	background: #343A40;
	height: 60px;
}

.navbar-nav {
	flex-direction: row;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	height: 100%;
	align-items: center;
}

.navbar-nav li {
	flex-grow: 1;
}

.navbar-nav li a {
	color: #ADADAD;
	font-size: 13px;
	text-transform: uppercase;
}

.navbar-nav li a.active, .navbar-nav li a:hover {
	color: #FFFFFF
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	padding: 0 21px;
	height: 45px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	color: #fff;
	margin-right: -15px;
}

.collapse {
	display: block;
	width: 100%;
	height: 60px;
}

.header-mobile__login-link {
	width: 20px;
	height: 25px;
}

.flexbox__menu-mobile {
	display: flex;
	width: 100%;
	padding: 15px;
	justify-content: space-between;
}

.news_anons {
	margin-top: 40px;
}

.repair_title {
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}

.repair_title__h1 {
	font-size: 34px;
	line-height: 42px;
	font-weight: bold;
}

.repair_filter {
	margin-top: 54px;
}

.select-ui.repair_filter__select>ul::before {
	content: '';
	background: url('../img/angle-down.svg') no-repeat center center;
}

.repair_filter__select ul {
	border: 1px solid #ccc;
	color: #666;
}

.repair_filter__select ul:before {
	color: #a9a9a9;
}

.repair_filter__select>ul li ul li {
	border: none;
	color: #666;
}

.filter_button {
	display: flex;
	align-items: flex-end;
	margin-bottom: 0.5rem;
}

.repair_filter__select>ul li ul li.repair_filter__select-title {
	font-weight: 600;
	color: #333;
}

.repair_map {
	margin-top: 80px;
	max-width: 100%;
	overflow: hidden;
	line-height: 0;
}

.repair_recommend-item {
	display: flex;
	background: #fff url(../img/recomend.svg) top -2px right -10px no-repeat;
	background-size: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 70px;
	padding-bottom: 40px;
	margin-bottom: 60px;
}

.repair_recommend {
	background-color: #f7f7f7;
	padding-top: 40px;
}

.recommend_title {
	padding-top: 20px;
	padding-bottom: 20px;
}

.recommend_title_link, .repair-list__link {
	color: #333;
	font-size: 24px;
	line-height: 34px;
}

.recommend_sity {
	color: #666;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.icon-star {
	color: #ed8a19;
}

.no-rate {
	color: #ccc;
}

.master_rete {
	display: flex;
	min-height: 80%;
	align-items: center;
	font-size: 25px;
}

.rate_count, .company_prise_category_title, .rate_title {
	font-weight: bold;
}

.rate_counts-link {
	font-size: 14px;
	padding-left: 5px;
}

.repair-list_item {
	width: 100%;
	padding: 40px 0px;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	border-bottom: 1px solid #cccccc;
	justify-content: space-between;
}

.repair-list__box {
	flex: 2;
}

.repair-list_img {
	flex-basis: 150px;
	min-width: 150px;
	text-align: left;
}

.repair-list_img img {
	width: 128px;
	height: 128px;
}

.repair-list__adress {
	color: #666;
	font-size: 14px;
	padding-bottom: 15px;
}

.repair-list__footer {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: space-evenly;
}

.repair-list__today, .repair-list__work {
	text-align: right;
	font-size: 14px;
}

.repair-work__link {
	color: #02c88b;
}

.repair-notwork__link {
	color: #d92626;
}

/* Pagination */

.pagination {
	border: 1px solid #ccc;
	background: #fff;
}

a.pagination__link {
	color: #666;
	font-size: 16px;
	padding: 12px;
	display: block;
	width: 100%;
	height: 100%;
}

.pagination-list, .pagination-list a {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	float: left;
}

a.pagination-list__link, a.pagination__link-searh {
	padding: 10px 17px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #ffffff;
	color: #9A9A9A;
}

.pagination__link_start, a.pagination__link-searh, a.pagination__link_end, ul.pagination-list :nth-child(2) a {
	border-left: 1px solid #ccc;
}

.pagination__link_start {
	margin-right: 20px;
}

a.pagination__link-searh, a.pagination__link_end {
	margin-left: 20px;
}

.pagination-list li.current a {
	background-color: #02C88B;
	color: #fff;
}

.pagination-searsh__text {
	padding: 10px 15px;
}

.pagination-searsh li a, a.pagination__link_start, a.pagination__link_end, .pagination {
	border-radius: 3px;
}

.pagination-list li:nth-of-type(2) a {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.pagination-list li:nth-last-child(2) a {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

a.pagination__link:hover, a.pagination__link:active, a.pagination__link:focus, a.pagination-list__link:hover, a.pagination-list__link:active, a.pagination-list__link:focus {
	background: #02C88B;
	color: #fff!important;
	cursor: pointer;
}

.pagination-searsh {
	display: flex;
	float: right;
}

a.pagination__link-searh {
	background: url(../img/angle-right.svg) no-repeat center center;
	padding: 21px;
}

input.pagination__input {
	border: 1px solid #cccccc;
	width: 50px;
	height: 44px;
	color: #666;
}

.pagination__input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.pagination__input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.pagination__input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.pagination__input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.pagination__input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.pagination__input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.pagination__input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.pagination__input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

/*end Pagination*/

.repair_bottom_content, .about_company_content {
	text-align: justify;
	color: #333;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.repair_bottom, .about_company {
	margin-top: 80px;
	background: #f7f7f7;
}

.repair_bottom_left {
	padding: 80px 40px 80px 40px;
}

.repair_bottom_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('../img/repair_bottom-left_arrow.svg') no-repeat top left;
	background-size: cover;
}

.repair-icon {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 17px;
}

.repair-icon_men {
	background: url('../img/repair-icon_men.svg') no-repeat top left;
}

.h1_subtitle {
	color: #666;
	line-height: 28px;
	font-size: 16px;
	margin-top: 20px;
}

.repair_filter__checkbox {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.repair_filter__checkbox_div label {
	margin-left: 5px;
}

.repair_filter__select, .repair_searh {
	margin-bottom: 0.5rem;
}

.repair-section-form {
	margin-top: 50px;
}

.repair_filter__lavel {
	font-weight: 700;
}

.repair_whattodo {
	margin-top: 100px;
	background: #f7f7f7;
	padding-top: 40px;
}

.repair_hashtag {
	width: 100%;
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.repair_hashtag a {
	padding: 0 15px;
}

.repair_title__h4 {
	font-size: 24px;
	line-height: 34px;
}

.popular_problem {
	margin-bottom: 80px;
}

.popular_problem_content__line1 {
	margin-top: 40px;
}

.repair_answer {
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 14px;
	margin-bottom: 20px;
}

.repair_answer:hover {
	border: 1px solid #02C88B;
}

a.repair_answer__link {
	color: #333;
}

.repair_answer_content {
	padding: 22px 20px 10px 20px;
}

.repair_answer_footer {
	color: #8e8e93;
	font-size: 12px;
	padding: 0px 20px 10px 20px;
}

.repair-eye {
	display: inline-block;
	width: 16px;
	height: 10px;
	background: url('../img/icon-eye.svg');
	margin-right: 4px;
}

.company_cart {
	display: flex;
	line-height: 28px;
}

.company_cart_header {
	margin-top: 60px;
}

.company_cart_image {
	overflow: hidden;
	border-radius: 14px;
	width: 100px;
	height: 100px;
	border: 1px solid #C4C4C4;
	margin-right: 20px;
	margin-bottom: 20px;
}

.company_cart_image img {
	max-width: 100px;
}

.company_cart_h1 {
	font-size: 36px;
	line-height: 42px;
}

.company_cart__icon-metro {
	display: inline-block;
	width: 19px;
	height: 13px;
	margin-right: 10px;
	background: url('../img/icon_metro.svg');
}

.metro_path {
	margin-right: 10px;
	color: #ccc;
}

.company_cart_content {
	display: flex;
	flex-direction: column;
}

.company_cart__metro {
	display: flex;
	justify-content: space-between;
}

.icon_pay {
	display: inline-block;
	width: 24px;
	height: 16px;
	margin-right: 10px;
	background: url('../img/icon_card.svg');
}

.icon_avto {
	display: inline-block;
	width: 35px;
	height: 16px;
	margin-right: 10px;
	background: url('../img/icon_avto.svg');
}

.company_order_work span, .company_order_pay span {
	padding: 0px 10px;
}

.company_order_work, .company_order_pay {
	text-align: right;
}

.company_order_info {
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.about_company_map {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding-top: 50px;
}

.about_company {
	padding-bottom: 40px;
}

.company_prise {
	padding-top: 20px;
	padding-bottom: 60px;
}

.company_share {
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}

a.company_photo {
	display: inline-block;
	float: left;
	width: 33.333333%;
	box-sizing: border-box;
}

a.company_photo img {
	width: 100%;
}

.company_prise_item {
	padding: 0px 5px;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.company_prise_item__line {
	border-bottom: 1px solid #ccc;
	flex-grow: 2;
	margin: 0px 20px;
}

.company_prise_content, .company_prise_photo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.angle_down {
	width: 10px;
	height: 6px;
	padding: 2px 10px;
	background: url(../img/angle-down.svg) no-repeat center center;
}

.company_share_button {
	margin-top: 25px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}

/* Отзывы*/

.review_img {
	width: 60px;
	height: 60px;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin-right: 20px;
	background: #fff;
	display: flex;
	align-content: center;
	justify-content: center;
	overflow: hidden;
}

.review_comment {
	margin-top: 30px;
}

.review_count {
	color: #ccc;
	padding-left: 10px;
	font-weight: normal;
}

.review_second-line img {
	max-width: 100%;
}

.review_second-line {
	margin-left: 50px;
}

.comment_reply {
	margin-left: 20px;
}

.review_reply {
	margin: 10px 0px 10px -15px;
}

.review_edit {
	margin: 10px 0px 10px -15px;
	text-align: right;
	display: flex;
	justify-content: space-between;
}

.review_edit_button {
	color: #666!important;
	font-size: 16px;
}

.review_reply_button {
	font-size: 16px;
}

.review_comment_section {
	margin-bottom: 70px;
}

.comment_first_reply .comment_child_reply_line {
	width: 20px;
	height: 1px;
	background: #ccc;
	position: absolute;
	left: 10px;
	top: 30px;
}

.comment_reply_line {
	width: 1px;
	position: absolute;
	top: 65px;
	left: 30px;
	bottom: -60px;
	background: #ccc;
}

.review_comment_button {
	border-radius: 3px;
	webkit-border-radius: 3px;
}

.review_comment_button_text {
	padding-left: 20px;
}

.review_comment_flex {
	-webkit-align-items: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}

.review_file-upload {
	position: relative;
	overflow: hidden;
	width: 155px;
	height: 20px;
	font-size: 12px;
	background: url('../img/icon_img.svg')no-repeat top left;
	border-radius: 3px;
	padding: 8px 4px;
	color: #666;
	text-align: center;
}

.review_file-upload input[type="file"] {
	display: none;
}

.review_file-upload label {
	display: block;
	position: absolute;
	top: 0;
	left: 10px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.top_banner {
	position: relative;
	width: 100%;
	padding-bottom: 12%;
}

.top_banner_link {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.top_banner_img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.news_line_box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.top_new, .top_new__item-half {
	position: relative;
}

.new_tag {
	position: absolute;
	background: #fff;
	padding: 6px 10px;
	color: #333;
	font-size: 12px;
	top: 0px;
	left: 0px;
}

.item-half__tag {
	left: 10px;
}

.flexbox {
	display: flex;
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.news_line {
	margin-top: -1px;
}

.news_line_title {
	color: #fff;
	position: absolute;
	bottom: 50px;
	left: 15px;
	font-size: 16px;
	line-height: 28px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

.news_line_title__item-half {
	display: inline-block;
	font-size: 20px;
	color: #333;
	margin: 15px 0px 0px 0px;
	font-weight: 700;
}

.news_line_title__item-half.people {
	font-size: 18px;

}

.meta-box__news_line {
	position: absolute;
	left: 15px;
	bottom: 30px;
	font-size: 12px;
	color: #fff;
}

.meta-box__news_line__item-half {
	position: relative;
	left: 0;
	color: rgba(51, 51, 51, 0.32);
	margin: 18px 0px 0px 0px;
}

.meta-box__news_line__item-half.people {
	color: #333;
	bottom: 15px;
}

.meta-box__news_line span {
	margin: 5px;
	margin-left: 0;
}

.meta-vievs {
	padding-right: 10px;
}

.clear {
	margin-top: -1px;
	height: 1px;
	clear: both;
	zoom: 1;
}

.slider-news {
	width: 100%;
	position: relative;
}

.news_slide-item {
	width: 25vw;
	float: left;
}

/*Scrolling News*/

.card.scrolling_news__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	height: 80px;
}

.scrolling_new_title {
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	text-transform: uppercase;
	padding: 15px;
}

.bx-controls.bx-has-controls-direction.bx-has-pager {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 2px;
}

.bx-pager.bx-default-pager {
	height: 660px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.scrolling_news__item_time {
	min-width: 80px;
	max-width: 80px;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scrolling_news {
	max-height: 685px;
	overflow: hidden;
	border: 1px solid #cccccc;
}

.scrollbar-inner {
	padding: 10px 0px 10px 10px;
	position: relative;
	max-height: 685px;
}

.main_search_form {
	margin-top: 20px;
	padding: 0px 30px;
	border: 2px solid #00AE79;
}

.btn-default__no-radius {
	border-radius: 3px;
}

/*scroll*/

.scroll-wrapper {
	overflow: hidden !important;
	padding: 0 !important;
	position: relative;
}

.scroll-wrapper>.scroll-content {
	border: none !important;
	box-sizing: content-box !important;
	height: auto;
	left: 0;
	margin: 0;
	max-height: none;
	max-width: none !important;
	overflow: scroll !important;
	padding: 0;
	position: relative !important;
	top: 0;
	width: auto !important;
}

.scroll-wrapper>.scroll-content::-webkit-scrollbar {
	height: 0;
	width: 0;
}

.scroll-element {
	display: none;
}

.scroll-element, .scroll-element div {
	box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible, .scroll-element.scroll-y.scroll-scrolly_visible {
	display: block;
}

.scroll-element .scroll-bar, .scroll-element .scroll-arrow {
	cursor: default;
}

.scroll-textarea {
	border: 1px solid #cccccc;
	border-top-color: #999999;
}

.scroll-textarea>.scroll-content {
	overflow: hidden !important;
}

.scroll-textarea>.scroll-content>textarea {
	border: none !important;
	box-sizing: border-box;
	height: 100% !important;
	margin: 0;
	max-height: none !important;
	max-width: none !important;
	overflow: scroll !important;
	outline: none;
	padding: 2px;
	position: relative !important;
	top: 0;
	width: 100% !important;
}

.scroll-textarea>.scroll-content>textarea::-webkit-scrollbar {
	height: 0;
	width: 0;
}

/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner>.scroll-element, .scrollbar-inner>.scroll-element div {
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
}

.scrollbar-inner>.scroll-element div {
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}

.scrollbar-inner>.scroll-element.scroll-x {
	bottom: 2px;
	height: 8px;
	left: 0;
	width: 100%;
}

.scrollbar-inner>.scroll-element.scroll-y {
	height: 100%;
	right: -4px;
	top: 0;
	width: 8px;
}

.scrollbar-inner>.scroll-element .scroll-element_outer {
	overflow: hidden;
}

.scrollbar-inner>.scroll-element .scroll-element_track, .scrollbar-inner>.scroll-element .scroll-bar {}

.scrollbar-inner>.scroll-element .scroll-bar {
	background-color: #C4C4C4;
	height: 90px;
}

.scrollbar-inner>.scroll-element:hover .scroll-bar {
	background-color: #919191;
}

.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar {
	background-color: #919191;
}

/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
	left: -12px;
}

.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
	top: -12px;
}

.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
	left: -12px;
}

.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
	top: -12px;
}

/*section overview*/

.overview {
	margin-top: 60px;
	margin-bottom: 60px;
}

.container-title__width-line {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 15px;
}

[data-group-target] {
	overflow: hidden;
	-webkit-transition: .5s all ease;
	-o-transition: .5s all ease;
	transition: .5s all ease;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	position: absolute;
}

[data-group-target].active {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	position: relative;
	padding-bottom: 10px;
}

.filter {
	margin: 20px 0;
}

.news_line_title__filter {
	bottom: 20px;
	left: 30px;
}

.new_tag__filter {
	left: 10px;
}

.filter a {
	color: #333;
	padding: 3px;
	margin-right: 30px;
	text-transform: uppercase;
}

.filter a.active {
	font-weight: 700;
	border-bottom: 1px solid #02C88B;
}

.filter__tag {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
	justify-content: space-evenly;
}

.filter__tag a {
	color: #333;
	padding: 3px;
}

.filter__tag a:hover {
	color: #02c88b;
}

img.half {
	width: 98%;
}

/*section top-store*/

.top_store, .overview {
	margin: 60px 0 40px 0;
	padding: 50px 0;
	background: #F7F7F7;
}

.overview {
	margin: 40px 0px 0px 0px;
	padding: 20px 0px 70px 0px
}

.line {
	border-bottom: 1px solid #cccccc;
	margin: 15px 15px 20px 15px;
	width: 100%;
}

.item_list {
	overflow: hidden;
}

.top_store__item_img {
	width: 170px;
	height: 170px;
	border-radius: 20px;
}

.top_store__item_link {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	padding: 15px 0 0 0;
	text-overflow: ellipsis;
	color: #333;
	font-weight: 600;
}

.new__top_store__item_price {
	font-size: 16px;
	font-weight: 600;
}

.old__top_store__item_price {
	font-size: 16px;
	text-decoration: line-through;
	opacity: 0.8;
}

.top_store__category_name {
	font-size: 12px;
	color: #666;
	margin-bottom: 10px;
}

.top_store__all {
	margin-top: 60px;
	margin-bottom: 20px;
}

.top_popular {
	margin-top: 60px;
	margin-bottom: 100px;
}

.news_line_title__item-half-popular {
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
}

.hidden-md, .hidden-sm {
	display: block;
}

.hidden-lg, .visible-xs {
	display: none;
}

.hidden-sm-up {
	display: none !important;
}

.footer__menu li a {
	color: #fff;
}

.footer__menu li a:hover {
	color: #02c88b;
}

.footer .soc-links a {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	font-size: 17px;
}

.footer .soc-links a:hover {
	background-color: transparent;
	color: #02c88b;
	border: 2px solid #02c88b;
	-webkit-box-shadow: 0 3px 12px 0 rgba(2, 200, 139, .4);
	box-shadow: 0 3px 12px 0 rgba(2, 200, 139, .4);
}

.footer .about p, .footer__menu li a, .mailto a {
	font-size: 14px;
}

.icon_mail {
	padding-right: 5px;
}

.brightness {
	filter: brightness(0.7);
	-webkit-filter: brightness(0.7);
	-moz-filter: brightness(0.7);
	-o-filter: brightness(0.7);
	-ms-filter: brightness(0.7);
}

.brightness:hover {
	filter: brightness(0.9);
	-webkit-filter: brightness(0.9);
	-moz-filter: brightness(0.9);
	-o-filter: brightness(0.9);
	-ms-filter: brightness(0.9);
}
/*Модальные*/
.modal-content__login{
background: #fff;
width: 100%;
max-width:360px;
padding: 20px 40px;
}
.modal-header__login{
padding: 15px;
}
.close__modal{
width: 25px;
height: 25px;
padding: 0px;
position: absolute;
top: 30px;
right: 30px;	
}
.modal-body__login {
    position: relative;
    padding: 15px;
}
.login__links{
position: relative;
width: 200px;
margin: 0 auto;	
}
.login__links ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}
.login__links li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.login__links a {
	font-size: 16px;
	font-weight: 700;
	line-height:23px;
	display: block;
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    color: #333;
}
.login__links a.active {
    color: #02C88B;
    box-shadow: inset 0 -3px 0 0 #02C88B;
}
.soclinks-type_enter {
    margin-bottom: 40px;
    width: 200px;
    margin: 0 auto 40px;
    font-size: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.soclinks-type a {
    display: inline-block;
    vertical-align: top;
	margin-right: 10px;
	margin-top: 40px;
}
.soclinks-type_enter i {
	display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 48px;
	width: 48px;
	color:#F1F2F2;
}
.soclinks-type_enter i.icon-vk{
	background:#4D76A1;
}
.soclinks-type_enter i.icon-facebook{
	background:#3B5998;
}
.soclinks-type_enter i.icon-twitter{
	background:#55ACEE;
}
.modal__info-title {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 40px 30px 20px;
}
.modal__info-title span {
    display: inline-block;
    padding: 0 20px;
	position: relative;
	color:#8B8B8B;
}

@media (max-width: 1024px) and (min-width: 767px) {
	.navbar-nav li a {
		font-size: 11px;
	}
	input.desctop-header__search {
		width: 369px;
	}
}

@media screen and (min-width: 768px) {
	.pull-md-right {
		float: right !important;
	}
	.pull-md-left {
		float: left !important;
	}
	.media-md-right, .media>.pull-md-right {
		padding-left: 10px;
	}
	.media-md-left, .media>.pull-md-left {
		padding-right: 10px;
	}
	.media-md-left, .media-md-right, .media-body {
		display: table-cell;
		vertical-align: top;
	}
	
}

@media screen and (max-width: 768px) {
	.pagination-list, .pagination-searsh {
		float: none;
		justify-content: center;
		padding: 10px;
	}
	.collapse {
		display: none;
	}
	input.pagination__input {
		width: 100px;
	}
	.pagination-list li {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.pagination-list li.current, .pagination-list li:first-of-type, .pagination-list li:last-of-type {
		position: initial;
		top: initial;
		left: initial;
	}
	.pagination-list li.current a {
		border-radius: 3px;
	}
	.pagination-list li.current a {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
	.repair_whattodo {
		margin-top: 60px;
		padding-bottom: 70px;
	}
	.top_banner {
		padding-bottom: 15%;
	}
	.news_slide-item {
		width: 50vw;
		float: left;
	}
	.news_slide-item {
		width: 50vw;
		float: left;
	}
	.top_store__item_img {
		max-width: 100%;
	}
	.filter_button {
		justify-content: flex-end;
	}
	.repair_hashtag {
		justify-content: left;
	}
	.top_popular {
		margin-bottom: 20px;
		margin-top: 0px;
	}
	.filter a {
		margin-right: 10px;
	}
	.filter__tag {
		font-size: 12px;
		flex-wrap: wrap;
		margin-bottom: 25px;
		align-items: center;
		justify-content: space-around;
	}
	.news_line_title__item-half {
		font-size: 16px;
	}
	.top_new__item-half.half .news_line_title {
		font-size: 16px;
		line-height: 18px;
	}
	.hidden-sm-up {
		display: block !important;
	}
	.navbar, .collapse {
		height: auto;
		width: 320px;
		position: absolute;
		top: 0px;
		right: 0px;
		background: #343A40;
		z-index: 100;
	}
	.navbar-nav li a {
	font-size: 13px;
	}
	.close_naw {
		width: 15px;
		height: 15px;
	}
	.site-title__mobile {
		color: #fff;
		font-size: 15px;
		padding: 5px 0 0 0;
	}
	.collapsing {
		width: 100%;
	}
	.navbar-nav {
		flex-direction: column;
		flex-wrap: nowrap;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		height: 100%;
		align-items: flex-start;
		padding: 15px 30px;
	}
	.navbar-nav li {
		flex-grow: 1;
		width: 100%;
		padding: 18px 5px 5px 5px;
	}
	.navbar-nav li a {
		color: #FFFFFF;
		border-bottom: 1px solid rgba(196, 196, 196, 0.29);
	}
	.hidden-lg {
		display: block;
	}
	.hidden-md {
		display: none;
	}
	.header {
		height: 45px;
		background-color: #343A40;
		-webkit-box-shadow: 0 3px 30px 0 rgba(0, 0, 0, .2);
		box-shadow: 0 3px 30px 0 rgba(0, 0, 0, .2);
	}
	.header .logo a {
		width: 45px;
		height: 45px;
	}
	.logo {
		margin-right: 20px;
		padding-left: 0px;
		margin-left: -15px;
	}
	.flexbox__menu-mobile {
		display: flex;
	}
	.scrolling_news, .scrollbar-inner {
		max-height: 765px;
	}
	.navbar-nav li a {
    font-size: 11px;
}
.top_new__item-half.half{
margin-bottom:5px;	
}
}
@media screen and (max-width: 738px) {
.hidden-sm{display:none;}
.top_store, .overview{
margin: 0px 0 0px 0;
padding: 20px 0;	
}


}
@media screen and (max-width: 480px) {
	.navbar, .collapse{
	width:100%;
	}
	.filter_button {
		justify-content: center;
		padding-top: 20px;
	}
	.repair-list_item {
		webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.repair-list_img, .repair-list__box, .repair-list__today, .repair-list__work {
		text-align: center;
	}
	.repair-list__work {
		padding-top: 10px;
		padding-bottom: 40px;
	}
	.repair-list__footer {
		padding-top: 20px;
	}
	.repair_bottom_right {
		background: none;
	}
	.company_cart_content {
		align-items: center;
	}
	.company_cart_header {
		margin-top: 0px;
	}
	.company_cart, .review_comment, .review_comment_flex {
		flex-direction: column;
		align-items: center;
	}
	.review_comment_button_text {
		padding-left: 0px;
		padding-top: 20px;
	}
	.company_order_pay {
		height: 70px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
	}
	.company_order_info {
		align-items: center;
	}
	.company_order_button {
		margin-top: 40px;
	}
	.about_company {
		margin-top: 40px;
		padding-bottom: 0px;
	}
	.top_banner {
		padding-bottom: 42%;
	}
	.news_slide-item {
		width: 98vw;
		float: left;
	}
	.top_store__item_img {
		max-width: 100%;
	}
	.item_list {
		overflow: hidden;
		text-align: center;
		margin-bottom: 15px;
	}
	.hidden-md, .hidden-lg, .hidden-sm, .visible-xs {
		display: block;
	}
	.hidden-xs {
		display: none;
	}
	.news_line_title{
	bottom:0;
	}
	 .news_line_title__item-half {
		position: relative;
		left: 0px;
		bottom: 0px;
		font-size: 16px;
		margin: 0px 0px 0px 0px;
		color: #333;
		text-shadow: none;
	}
	.news_line_title__item-half.people {
		font-size: 16px;
		line-height: 18px;
		position: relative;
		margin-top: 15px;
		left: 0;
		bottom: auto;
		color: #333;
		text-shadow: none;
		font-weight: 700;
	}
	.top_new__item-half.half .news_line_title {
		font-size: 16px;
		line-height: 28px;
	}
	
	.news_line_title__filter {
		color: #fff;
		position: absolute;
		bottom: 40px;
		left: 25px;
		font-size: 16px;
		line-height: 28px;
		text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
	}
	.top_new__item-article {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.top_new__item-article .img-main {
		width: 95%;
	}
	.top_store, .overview {
		margin: 40px 0 20px 0;
	}
	.meta-box__news_line_link {
		display: inline-block;
	}
	.container-title.pull-md-right {
		margin-top: 0px;
	}
	.pull-xs-right {
		float: right !important;
	}
	.ml-xs-auto {
		margin-left: auto!important;
	}
	.flexbox__menu-mobile {
		display: flex;
	}
	.scrolling_news {
		border: none;
		border-top: 1px solid #cccccc
	}
	.card.scrolling_news__item {
		height: auto;
	}
	.scrolling_news {
		max-height: 672px;
		margin-bottom: 40px;
	}
	.top_popular {
		margin-top: 0;
	}
	.footer-container {
		text-align: center;
	}
	.footer .soc-links {
		justify-content: center;
	}
	.hr_mobile {
		margin: 0px;
		margin-bottom: 20px;
		height: 2px;
		box-shadow: none;
		border: none;
		background: #ccc;
	}
	.top_new__item-half.half {
		padding-left: 0px;
		padding-right: 0px;
	}
	.filter a {
		text-transform: none;
	}
	img.half {
		width: 100%;
		margin-bottom: 10px;
	}
	.pull-md-right{
	float: none;
    width: 100%;
    text-align: center;	
	}
}