 .text {
   position: relative;
 }
.text-icons {
  /*position: absolute;*/
  top: 0;
}
.text-icons svg {
  width: 30px;
  cursor: pointer;
}
.text-icons svg path {
  fill: #333333;
  stroke: #333333;
  stroke-width: 0.5px;
  transition: .3s;
}
.text-icons svg:hover path {
  fill: #02c88b;
}
.text-icons__post {
  position: relative;
  margin-bottom: 10px;
}
.text-icons__post-like {
  /* height: 20px; */
}

.active svg path {
  fill: #27AE60;
  stroke: #27AE60;
  stroke-width: 0.5px;
}

.active .text-icons__post-like-count {
  color: #27AE60;
}

.text-icons__post-like-count {
  width: 28px;
  height: 22px;
  font-size: 16px;

  margin-top: 10px;
  color: #333333;
}

.text-fav svg {
  width: 30px;
  cursor: pointer;
  padding-top: 8px;
}
.text-fav svg path {
  stroke: #333333;
  transition: .3s;
}
.text-fav svg:hover path {
  stroke: #02c88b;
}

.active .text-icons__post svg path {
  fill: #27AE60;
  stroke: #27AE60;
}

.nav-icon {
  margin-bottom: 5px;
}