//colors
$color_mine_shaft_approx: #333333;
$color_caribbean_green_approx: #02c88b;
$color_chateau_green_approx: #27ae60;

.text {
	position: relative;
}
.text-icons {
	top: 0;
	svg {
		width: 30px;
		cursor: pointer;
		path {
			fill: $color_mine_shaft_approx;
			stroke: $color_mine_shaft_approx;
			stroke-width: 0.5px;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: .3s;
		}
		&:hover path {
			fill: $color_caribbean_green_approx;
		}
	}
}
.text-icons__post {
	position: relative;
	margin-bottom: 10px;
}
.text-icons__post-like {
}
.active {
	.text-icons__post-like-count {
		color: $color_chateau_green_approx;
	}
	svg path {
		fill: $color_chateau_green_approx;
		stroke: $color_chateau_green_approx;
		stroke-width: 0.5px;
	}
	.text-icons__post svg path {
		fill: $color_chateau_green_approx;
		stroke: $color_chateau_green_approx;
	}
}
.text-icons__post-like-count {
	width: 28px;
	height: 22px;
	font-size: 16px;
	margin-top: 10px;
	color: $color_mine_shaft_approx;
}
.nav-icon {
	margin-bottom: 5px;
}
.text-fav svg {
	width: 30px;
	cursor: pointer;
	padding-top: 8px;
	path {
		stroke: $color_mine_shaft_approx;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: .3s;
	}
	&:hover path {
		stroke: $color_caribbean_green_approx;
	}
}